{
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "usePrettierrc": true
      }
    ],
    "arrow-body-style": "off",
    "prefer-arrow-callback": "off"
  },
  "extends": ["plugin:prettier/recommended"]
}
